.wraper {
    margin-top: 10rem;

    display: flex;

}

.wraper li {
    font-size: 1.2rem;
      line-height:2.5rem;
      color: rgb(227, 49, 17);
      
}
.wraper ul {
    margin-top: 2rem;
}
.active {
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
} 

.wrap h2 {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    width: 300px;
}

.h3-int {
    font-size: 30px;
    font-weight: 700;
    margin-top: 4rem;
    color: blue;
}